{{template "partials/header" .}}
{{template "partials/side-nav-header" .}}
    
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">All Users</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">All Users</li>
                        </ol>

                        <div class="card mb-4">
                            
                        </div>
                    </div>
                
                
            
{{template "partials/side-nav-footer" .}}
{{template "partials/footer" .}}
